body{
    background-color: skyblue;
}

h1{
    text-align: center;
    font-size: 3em;
    margin-top: 5em;
}

#cone{
    margin-left:auto;
    margin-right: auto;
    width: 200px;
    height: 250px;
}