body{
    width: 100%;
    height: auto;
    background-color: #152238;

}

.header{
    background-color: #152238;
    width: 100%;
    height: auto;
    
}

span{
    color: yellow;
}

.btn{
    border: 2px solid #152238;
}

#insured{
    color: white;
}

#spacemaker{
    height: 3em;
    width: 100%;
    position: relative;
    clear:both;
    background-color: #152238;
    border-bottom: 8px solid yellow;
}

@media only screen and (max-width: 499px){
   .header{
       width: 100%;
       margin-left: auto;
       margin-right: auto;
    }
    .nav{
        width: 100%;
    }
    
    .btn{
        width: 45%;
        margin-left: .75em;
    }
    
    #logo{
        width: 60%; 
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        padding: .5em;
        border: 6px solid yellow;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    #insured{
        text-align: center;
        font-size: 1em;
    }
}

@media only screen and (min-width: 500px){
    .header{
       width: 100%;
       margin-left: auto;
       margin-right: auto;
    }
    .nav{
        width: 100%;
    }
    
    .btn{
        width: 15%;
        margin-right: .75em;
        float: right;
    }
    
    #logo{
        width: 30%; 
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        padding: .5em;
        border: 6px solid yellow;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    #insured{
        text-align: center;
        font-size: 1em;
    }  
    
    #honest{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        border: 6px solid yellow;
    }
}


@media only screen and (min-width: 1200px) {
    .header {
        width: 100%;
        height: auto;
    }
    
    
    .btn{
        float: right;
        margin-right: 1em;
            
    }
    
    #logo{
        width: 25%;
        height: auto;
        float: left;
        border-radius: 50%;
        margin-left: 18em;
        margin-bottom: 3em;
        border: 8px solid yellow;
    }
    
    #honest{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 8px solid yellow;
    }
    
    #body{
        background-color: lightgray;
        
    }
    
    #insured{
        text-align: right;
        font-size: 2em;
        font-family: sans-serif;
        font-style: italic;
        margin-right: 6em;
        margin-top: 2em;
    }
}

.footer{
    width: 100%;
    height: 5em;
    background-color: #152238;
    position: absolute;
    margin-bottom: 0;
    border-top: 8px solid yellow;
    padding-top: 1em;
}

#contact{
    color: white;
    float: right;
    margin-right: 2em;
    margin-top: -.25em;
    
    
}

.share{
    display: inline-block;
    float: left;
    height: 2em;
    width: 2em;
    margin-left: .75em;
}







